################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/LiveSplit.Nestopia.csproj.user
/Components/LiveSplit.Nestopia.exe
